.myHeader {
    font-family: 'Josefin Slab', serif;
}

.namebox {
    font-size: 22px;
}

.headshot {
margin: 5px 20px 5px 5px;
}

.linkedIn {
  font-family: 'Josefin Slab', serif;
  color:#666;
  display: block;
  text-align: center;
}
.linkedIn:active {
  font-weight: bold;
  color: #666;
  text-decoration: none;
}
.linkedIn:hover {
  font-weight: bold;
  color: #666;
  text-decoration: none;
}
.linkedIn:visited {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #777;
    background: url("images/concrete_seamless.jpg");
  }

  /* general */
  
  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }
  
  h1,
  h2,
  h3
   {
    font-family: Georgia, Times, "Times New Roman", serif;
    margin-bottom: 10px;
    padding-bottom: 20px;
    font-weight: 700;
    color: #4aaaa5;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
  h1 {
    font-size: 26px;
    line-height: 34px;
    border-bottom: 3px solid #ddd;
  }
  
  h2,
  h3 {
    font-size: 22px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eee;
  }
  .portfolioH2 {
    padding-top: 25px;
  }
  /* footer */
  
  footer {
    padding: 10px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #beffde;
    height: 50px;
  }
  
  /* main */
  
  #main-container {
    padding-top: 50px;
    min-height: calc(100vh - 70px);
  }
  
  .main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px 5px;
    background: #fff;
    border: 1px solid #ddd;
  }
  
  /* portfolio page */

  .projectCaptions {
      background-color: #beffde;
      color: #474646;
      opacity: .7;
      display: block;
      text-align: center;
  }
  .projectCaptions:hover {
      background-color: #beffde;
      color: black;
      opacity: .8;
      text-decoration: none;
  }

  .projectCards {
      margin: 15px;
  }

  h5 {
      font-family: 'Josefin Slab', serif;
      font-weight: bold;
      width: 620px;
  }

  .card-text {
    font-size: 14px;
    margin-bottom: 20px; 
  }

  .buttonPortfolio {
    background-color: #beffde;
    color: darkslategray;
    font-size: 12px;
    font-family: 'Josefin Slab', serif;
    border-color: none;
  }

  .buttonPortfolio:hover {
    background-color: #92ffc8;
    color: darkslategray;
    font-size: 12px;
    font-family: 'Josefin Slab', serif;
    border-color: none;
  }

  .buttonPortfolio:active {
    background-color: #dbffed;
    color: darkslategray;
    font-size: 12px;
    font-family: 'Josefin Slab', serif;
    border-color: none;
  }
  
  .buttonPortfolio:visited {
    background-color: #dbffed;
    color: darkslategray;
    font-size: 12px;
    font-family: 'Josefin Slab', serif;
    border-color: none;
  }
  
  /* contact page */

  .contactInfo {
    display: inline;
    text-align: center;
  }

  .contactImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

  h4 {
    font-family: Georgia, Times, "Times New Roman", serif;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    /* color: #4aaaa5; */
  }
  
  #contact-form ul {
    margin-bottom: 10px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ddd;
  }

  .contactLabel {
    font-size: 16px;
    font-family: 'Josefin Slab', serif;
  }

  